doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="style.scss" rel="stylesheet")
  body
    h1 FT4ED Visual Sequence Locator

    div.scan-loc
      div.scan-loc__input-error
      input.scan-loc__location-picker(type="number")
      div.scan-loc__column-container
      div.scan-loc__pagination_number

  script(src="./loader.js")
