doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="style.scss" rel="stylesheet")
  body
    main

      div.scan-loc
        section
          div.scan-loc__location-display
            div.scan-loc__column-container
            div.scan-loc__pagination_number
        section.scan-loc__right-pane
          div.scan-loc__title FT4ED Visual Sequence Locator
          div.scan-loc__user-input
            div.scan-loc__errors
            input.scan-loc__location-picker(type="number" placeholder="Seq#" onclick="this.select();" onfocus="this.select();")

  script(src="loader.js")
