@import "normalize.scss";

// Set up some sane defaults
html,body,ul,ol {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  background: #ffffff;
  color: #000000;
}

@mixin media-at-least($break) {
  @media (min-width: $break) { @content; }
}

// Set all elements to use proper box-sizing as defined above.
*, *:before, *:after {
  box-sizing: inherit;
}

main {
  margin: 1rem;
}

h1 {
  text-align: center;
}

.scan-loc__right-pane {
  display: flex;
  flex-direction: column;
}

@include media-at-least(500px) {
  .scan-loc__title {
    order: 2;
  }
  .scan-loc__user-input {
    order: 1;
  }
  .scan-loc__errors {
    order: 2;
  }
  .scan-loc__location-picker {
    order: 1;
  }
}


.scan-loc {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scan-loc__title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.scan-loc__errors {
}

.scan-loc__error {
  padding: 0.5rem;
  background: #e47070;
  font-weight: bold;
  text-align: center;
}

.scan-loc__user-input {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.scan-loc__location-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scan-loc__location-picker {
  text-align: center;
  font-weight: bold;
  margin: 1rem;
  height: 4rem;
  font-size: 3rem;
  width: 10rem;
  border-color: #7094e4;
  border-style: solid;
}

.scan-loc__column-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scan-loc__column {
  display: flex;
  flex-direction: column;
}

.scan-loc__cell {
  width: 1.5rem;
  height: 1.5rem;
  background: #cacaca;
  border: 3px solid rgba(255,255,255,1);
  touch-action: none;
  box-sizing: content-box;
}

.scan-loc__cell--selected {
  background: #ff0000;
}

.scan-loc__pagination_number {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem;
  height: 2rem;
}
